* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #1d0e8e;
  background: linear-gradient(174deg, #1d0e8e 0%, #00aaff 100%);
  background-repeat: no-repeat; }

img, .reps {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: black; }

header {
  width: 100%;
  height: auto;
  display: flex; }

nav {
  width: 100%;
  justify-content: space-around;
  display: flex;
  background-color: white; }

.menu {
  width: 10%; }

section:nth-of-type(1) {
  width: 100%;
  justify-content: space-around;
  display: flex; }

section:nth-of-type(2) {
  height: 47vh;
  overflow-y: scroll; }

.urgent {
  display: flex;
  padding: 3%;
  border-radius: 5px;
  background-color: white;
  width: 91%;
  margin: 3% 0 1% 0;
  justify-content: space-between;
  align-items: center; }

.btn {
  padding: 2%;
  border-radius: 5px;
  background-color: #10028d;
  color: white;
  width: 35%;
  margin-top: 1%;
  font-weight: bold; }

#burger {
  border: solid 1px rgba(0, 0, 0, 0.329);
  border-radius: 5px;
  height: 30px;
  width: 30px;
  padding: 2%;
  margin-right: 2%;
  flex-direction: column;
  align-items: center; }
  #burger:hover {
    border: solid 1px black; }
  #burger li {
    border-bottom: solid 3px black;
    margin-bottom: 5px; }

#grid {
  display: flex;
  justify-content: space-around;
  overflow-y: scroll; }
  #grid ul {
    width: 100%;
    justify-content: space-around; }
    #grid ul li {
      border-radius: 5px;
      height: auto;
      background-color: white;
      padding: 5%;
      margin: 4%;
      -webkit-box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.452);
      /* Safari 3-4, iOS 4.2px.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.452);
      /* Firefox 3.5 - 3.6 */
      box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.452);
      /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
      #grid ul li:active {
        transform: scale(0.97); }
      #grid ul li:hover {
        background-color: #fffcf4; }
      #grid ul li div {
        width: 20%; }

li {
  list-style: none; }

.m-left,
.m-right {
  display: block;
  justify-content: center;
  width: 50%;
  height: auto; }

.icon {
  width: 4%; }

.ko {
  display: none;
  visibility: hidden; }

.ok {
  display: block;
  visibility: visible; }

#capsule {
  height: 100vh;
  position: relative;
  overflow: hidden; }

#rond {
  background-image: url(../media/logoceev.jpg);
  background-size: cover;
  z-index: 100; }

#rond,
#rond2 {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 75px; }

#rond2 {
  box-shadow: 1px 1px 1px 1px gray; }

@keyframes zoomer {
  0% {
    transform: scale(1);
    opacity: 0.9; }
  90% {
    opacity: 0.3; }
  100% {
    transform: scale(1.5);
    opacity: 0; } }
.zoomer,
.zoomer::after {
  animation: zoomer 2s linear 0s infinite normal; }

.box {
  border-radius: 5px;
  height: auto;
  background-color: white;
  padding: 3%;
  margin: 3%;
  -webkit-box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.452);
  /* Safari 3-4, iOS 4.2px.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.452);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.452);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .box:active {
    transform: scale(0.97); }
  .box:hover {
    background-color: #fffcf4; }

.border {
  border: solid 1px gray;
  border-radius: 5px;
  height: 15%;
  padding: 2%;
  margin-right: 2%; }

.flex-align {
  display: flex;
  align-items: center; }

.warning {
  color: #ff9100;
  font-weight: 700; }

.box_cb {
  border-radius: 5px;
  height: auto;
  background-color: white;
  padding: 3%;
  margin: 3%;
  -webkit-box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.452);
  /* Safari 3-4, iOS 4.2px.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.452);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.452);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

form div {
  margin: 3%; }

.nbrCard {
  background-color: #ebfcf4;
  border-bottom-left-radius: 5px;
  border-bottom: solid 1px blueviolet; }
  .nbrCard:hover {
    background-color: white; }

.montant {
  background-color: #ebfcf4;
  border-width: 0;
  border-bottom-left-radius: 5px;
  border-bottom: solid 1px blueviolet;
  height: 20px;
  margin-left: 2%; }
  .montant:hover {
    background-color: white; }

.btnCb {
  padding: 2%;
  border-radius: 5px;
  background-color: #10028d;
  color: white;
  width: 35%;
  margin-top: 1%;
  font-weight: bold; }
  .btnCb:hover {
    background-color: #00aa00; }

/*# sourceMappingURL=style.css.map */
